html {height: 100%;}
body {height: 100%;}
div#root {height: 100%;}
div.App{height: 100%;}
div.page-body-wrapper {height: 100%;}
div.page-body {height: 100%; display: flex; flex-direction: column; overflow-y: auto;}
div.wogd-product-list-grid {height: 100%; position: relative; top: -60px;}
